@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Oto Servis Satış .Net Core MVC</h1>
    <p><a>.Net Framework ile geliştirdiğimiz Oto Servis ve Satış uygulamasının ASP.NET Core MVC versiyonu.</a></p>
</div>
